@use './Table.scss';

.travel-table {
  .date-th {
    min-width: 50px;
  }
  
  .speed-th {
    min-width: 80px;
  }

  .weight-th {
    min-width: 80px;
  }

  .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}